<div id="contact-information" class="row">
  <div class="col-xs-12">
    <h4>My Contact Information <span class="small"><a href="/mockups/new_author">[update]</a></span></h4>
  </div>
  <div class="col-xs-12">
    <p>
      Joe Q Example<br />
      123 ABC Lane<br />
      Suite 301<br />
      State College, PA 16801
    </p>
    <p>
      <strong>Phone:</strong> 123-456-7890<br />
      <strong>Alternate email:</strong> joeqexample@hotmail.com<br />
      <strong>Publish my alternate email?</strong> Yes<br />
    </p>
  </div>
</div>