<div class="progress-indicator">
  <div class="step complete">
    <div class="number">1</div>
    <div class="information">
      <div class="description">Provide program information <a href="/mockups/new_submission_program_information" class="small">[update]</a></div>
      <div class="status">completed on July 1, 2014</div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step complete">
    <div class="number">2</div>
    <div class="information">
      <div class="description">Provide committee <a href="/mockups/new_submission_committee" class="small">[update]</a></div>
      <div class="status">completed on July 1, 2014</div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step complete">
    <div class="number">3</div>
    <div class="information">
      <div class="description">Upload Format Review files</div>
      <div class="status">completed on July 2, 2014</div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step current">
    <div class="number">4</div>
    <div class="information">
      <div class="description">Graduate school approves Format Review files <a href="mailto:#" class="small">[email]</a></div>
      <div class="status">processing</div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step">
    <div class="number">5</div>
    <div class="information">
      <div class="description">Upload Final Submission files</div>
      <div class="status"></div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step">
    <div class="number">6</div>
    <div class="information">
      <div class="description">Graduate school approves Final Submission files</div>
      <div class="status"></div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step">
    <div class="number">7</div>
    <div class="information">
      <div class="description">Released for publication</div>
      <div class="status"></div>
    </div>
  </div>
</div>