<div class="progress-indicator preview">
  <div class="step">
    <div class="number">1</div>
    <div class="information">
      <div class="description">Provide program information</div>
      <div class="status"></div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step">
    <div class="number">2</div>
    <div class="information">
      <div class="description">Provide committee</div>
      <div class="status"></div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step">
    <div class="number">3</div>
    <div class="information">
      <div class="description">Upload Format Review files</div>
      <div class="status"></div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step">
    <div class="number">4</div>
    <div class="information">
      <div class="description">Graduate school approves Format Review files</div>
      <div class="status"></div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step">
    <div class="number">5</div>
    <div class="information">
      <div class="description">Upload Final Submission files</div>
      <div class="status"></div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step">
    <div class="number">6</div>
    <div class="information">
      <div class="description">Graduate school approves Final Submission files</div>
      <div class="status"></div>
    </div>
    <div class="direction glyphicon glyphicon-arrow-down"></div>
  </div>
  <div class="step">
    <div class="number">7</div>
    <div class="information">
      <div class="description">Released for publication</div>
      <div class="status"></div>
    </div>
  </div>
</div>