<div class="row">
  <div class="col-xs-12">
    <h1>Program Information</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form action="" class="simple_form new_paper" id="new_paper" method="post" novalidate="novalidate">

      <div class="form-group string required paper_author_first_name">
        <label class="string required control-label" for="paper_author_first_name">Dissertation or Thesis
          Advisor<span title="require" class="required-asterisk">*</span></label>
          <input class="string required form-control" id="paper_author_first_name" name="paper[author][first_name]" type="text">
      </div>
      <div class="form-group select required paper_author_state">
        <label class="select required control-label" for="paper_author_state">Semester Intending to Graduate<span title="require" class="required-asterisk">*</span></label>
        <select class="select required form-control" id="paper_author_state" name="paper[author][state]">
          <option value="">Please Select</option>
          <option value="#">Spring</option>
          <option value="#">Summer</option>
          <option value="#">Fall</option>
        </select>
      </div>
      <div class="form-group select required paper_author_state">
        <label class="select required control-label" for="paper_author_state">Graduation Year<span title="require" class="required-asterisk">*</span></label>
        <select class="select required form-control" id="paper_author_state" name="paper[author][state]">
          <option value="">Please Select</option>
          <option value="#">2014</option>
          <option value="#">2015</option>
          <option value="#">2016</option>
        </select>
      </div>
      <div class="form-group select required paper_author_state">
        <label class="select required control-label" for="paper_author_state">Program<span title="require" class="required-asterisk">*</span></label>
        <select class="select required form-control" id="paper_author_state" name="paper[author][state]">
          <option value="">Please Select</option>
          <option value="#">Spring</option>
          <option value="#">Summer</option>
          <option value="#">Fall</option>
        </select>
      </div>
      <div class="form-group select required paper_author_state">
        <label class="select required control-label" for="paper_author_state">Degree<span title="require" class="required-asterisk">*</span></label>
        <select class="select required form-control" id="paper_author_state" name="paper[author][state]">
          <option value="">Please Select</option>
          <option value="#">Spring</option>
          <option value="#">Summer</option>
          <option value="#">Fall</option>
        </select>
      </div>


      <div class="form-group actions">
        <a href="/mockups/submissions_index_in_progress" class="btn btn-primary">Save Program Information</a>
      </div>

    </form>
  </div>
</div>