<div class="row">
  <div class="col-xs-12 col-sm-3">
    <nav id="main-navigation" class="collapse navbar-collapse">
      <ul class="nav nav-pills nav-stacked" role="navigation">
        <li><%= link_to 'Dashboard', '#' %></li>
        <li><%= link_to 'Authors', '#' %></li>
        <li class="active"><%= link_to 'Programs', '#' %></li>
        <li><%= link_to 'Degrees', '#' %></li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-9">

    <h1>Programs</h1>

    <table id="programs-index" class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>Description</th>
          <th>Active?</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>Acoustics</td>
          <td>Yes</td>
        </tr>
        <tr class="even">
          <td>Adult Education</td>
          <td>Yes</td>
        </tr>
        <tr class="odd">
          <td>Advertising</td>
          <td>Yes</td>
        </tr>
        <tr class="even inactive">
          <td>Aerospace Engineering</td>
          <td>No</td>
        </tr>
        <tr class="odd inactive">
          <td>Agricultural And Biological Engineering</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>