<div class="row">
  <div class="col-xs-12">
    <p><strong>To start your first eTD submission, please confirm your contact information.</strong></p>
    <p><%= link_to "Confirm my contact information", new_author_author_path, class: 'btn btn-default btn-primary' %></p>
  </div>
</div>
