<div class="row">
  <div class="col-xs-12">
    <h2>My Submissions</h2>
  </div>
</div>

<div id="submissions" class="row">

  <div class="col-xs-12 submission">
    <p>You don't have any submissions yet.</p>
    <p><%= link_to "Start a new Submission", new_author_submissions_path, class: 'btn btn-primary' %></p>

    <% @submission_view = SubmissionView.new %>
    <%= render 'progress_indicator', submission: @submission_view %>
  </div>

</div>
