<div class="row">
  <div class="col-xs-12">
    <h1>Committee</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% @submission.committee_members.each do |member| %>
      <div class="committee-member review-group <%= cycle("", "odd") %>">
        <label><%= member.role %></label>
        <p><%= member.name %> - <%= link_to member.email, "mailto:#{member.email}" %></p>
      </div>
    <% end %>
  </div>
</div>