<div class="row">
  <div class="col-xs-12">
    <h1>Submit an eTD</h1>
  </div>
  <div class="col-xs-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet adipiscing cursus. Ut blandit placerat
      pharetra. Praesent vel quam id tellus viverra rutrum. Integer elementum ac neque a volutpat. Nam egestas dolor
      cursus congue fringilla. Donec interdum mattis nulla, vitae suscipit libero euismod id. Duis at mauris pulvinar,
      mollis urna nec, dapibus tortor.</p>

    <p>Etiam varius lobortis varius. Proin ultricies feugiat urna, non ultricies neque hendrerit id. Integer semper
      augue luctus, vulputate quam non, elementum urna. Proin vehicula tempor sem non tempus.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h2>My Submissions</h2>
  </div>
  <div class="col-xs-12 col-sm-3">
    <%= link_to "Start a new submission", new_author_papers_path, class: 'btn btn-default add-button pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

  </div>
</div>