<span class="row main-committee-search-button">
 <label>Search for Committee Members in Penn State Directory</label><span><%= link_to "<button>Search Penn State Directory</button>".html_safe, "#CommitteeSearchModal",:class => "input-group modal-link btn col-xs-12 col-sm-6", "data-toggle" => "modal" %></span>
</span><br />