<div class="row">
  <div class="col-xs-12">
    <h1>Upload Format Review files</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%# We're forcing the namespace for the form object to ensure  %>
    <%# it's consistent when testing with the mock object          %>
    <%= simple_form_for @format_review, as: :format_review, url: author_submission_format_review_path, method: :post do |form| %>
      <%= form.input :files, as: :file, input_html: { multiple: true } %>
      <div class="form-group actions">
        <%= form.button :submit, class: "btn-primary", value: "Submit files for review" %>
        <%= link_to "Cancel", author_root_path %>
      </div>
    <% end %>
  </div>
</div>
