
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <h1>Programs</h1>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= link_to "<span class='glyphicon glyphicon-plus'></span> Add a New Program".html_safe, new_program_path, class: 'btn btn-default add-button pull-right' %>
      </div>
    </div>

    <table id="programs-index" class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Active?</th>
        </tr>
      </thead>
      <tbody>
        <%= render @programs %>
      </tbody>
    </table>
