@import 'bootstrap';

html, body, #body-container {
  position: relative;
  height: 100%;
}

#header-row {

  #account-navigation {
    margin: 0px;
    min-height: 38px;

    @media (min-width: 768px) {
      .navbar-text.small {
        margin-top: 10px;
        margin-bottom: 9px;
      }

      .navbar-btn.btn-sm {
        margin-top: 3px;
        margin-bottom: 3px;
      }
    }
  }
}

#content-row {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#main-navigation {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-lighter;
}

#contact-information {
  @extend .small;

  @media (min-width: 768px) {
    padding: 0px 15px 20px;
  }
}

#footer-row {

  #courtesy-navigation {
    min-height: 40px;
    margin-bottom: 0px;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

table {
  tr {
    &.odd {
      td {
        background-color: $table-bg-accent;
      }
    }

    &.inactive {
      td {
        color: $gray-light;
      }
    }
  }
}

.add-button {
  margin: 20px 0px 10px 0px;
}

form {
  .actions {
    margin-top: 30px;
  }
}

#submissions {
  .submission {
    border-top: 1px solid $gray-lighter;
    padding: 20px 15px;
  }
}

.progress-indicator {

  .step {
    @extend .clearfix;
    margin-bottom: 10px;
    position: relative;

    .number {
      border: 1px solid $gray-lighter;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: $gray-lighter;
      color: #fff;
      font-size: 18px;
      text-align: center;
      line-height: 50px;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      float: left;
      clear: both;
      margin: 0px 10px 30px 0px;
    }

    .information {
      display: block;
      min-height: 68px;

      .description {
        @extend .text-muted;
        margin: 12px 0px 0px;
        font-size: 18px;
      }

      .status {
        @extend .small;
        display: block;
        color: $gray-light;
        vertical-align: top;
        line-height: 18px;

        .glyphicon {
          color: $brand-success;
          font-size: 140%;
        }
      }
    }

    .direction {
      position: absolute;
      top: 63px;
      left: 18px;
      color: $gray-lighter;
    }

    &.complete {
      .number {
        border-color: $gray-light;
        background-color: $gray-light;
      }

      .description {
        color: inherit;
        margin-top: 8px;
      }

      .direction {
        color: $gray;
      }
    }

    &.current {
      .number {
        border-color: $brand-primary;
        background-color: $brand-primary;
      }

      .description {
        color: inherit;
      }
    }
  }

  &.preview, &.archive {
    .step {
      margin-bottom: 5px;

      .number {
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        margin: 0px 5px 15px 0px;
      }

      .information {
        min-height: 38px;

        .description {
          margin: 7px 0px 0px;
          font-size: 12px;
        }
      }

      .direction {
        font-size: 9px;
        top: 35px;
        left: 10px;
      }
    }
  }

  &.archive {
    .step {
      .information {
        .description {
          margin-top: 4px;
          @extend .text-muted;
        }
        .status {
          color: #333;
        }
      }
    }
  }
}