@import 'bootstrap';

html, body, #body-container {
  position: relative;
  height: 100%;
}

#header-row {

  #account-navigation {
    margin: 0px;
    min-height: 38px;

    @media (min-width: 768px) {
      .navbar-text.small {
        margin-top: 10px;
        margin-bottom: 9px;
      }

      .navbar-btn.btn-sm {
        margin-top: 3px;
        margin-bottom: 3px;
      }
    }
  }
}

#content-row {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#main-navigation {
  margin-top: 20px;
}

#footer-row {

  #courtesy-navigation {
    min-height: 40px;
    margin-bottom: 0px;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

table {
  tr {
    &.odd {
      td {
        background-color: $table-bg-accent;
      }
    }

    &.inactive {
      td {
        color: $gray-light;
      }
    }
  }
}

.add-button {
  margin: 20px 0px 10px 0px;
}

form {
  .actions {
    margin-top: 30px;
  }
}