<% flash.each do |key, value| %>

    <% key == 'alert' ? key = 'danger' : key = 'success' %>

    <div class="alert alert-<%= key %> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= value %>
    </div>

<% end %>
