<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h1>Existing Submissions</h1>
  </div>
  <div class="col-xs-12 col-sm-3">
    <%= link_to "Start a new submission", new_author_papers_path, class: 'btn btn-default add-button pull-right' %>
  </div>
</div>

<table id="papers-index" class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>Document Type</th>
      <th>Program</th>
      <th>Degree</th>
      <th>Status</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
