<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h1>Format Review</h1>
  </div>
</div>

<%= simple_form_for @paper, url: author_papers_path do |f| %>

  <%= render partial: "author_information", locals: { form: f } %>

  <div class="form-group actions">
    <%= f.button :submit %>
  </div>

<% end %>