@import '_base';

.add-button {
  margin: 27px 0px 0px;
}

.dataTables_wrapper {
  .dataTables_filter {
    max-width: 100%;

    input {
      width: 285px;
      max-width: 100%;
      margin-left: 0px;
    }
  }
}

@media (max-width: 992px) {
  .dataTables_wrapper {
    .row {
      .col-xs-12 {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .dataTables_info {
      margin-bottom: 5px;
      color: $gray-light;
    }

    .dataTables_length {
      width: 100%;
      label {
        width: 100%;
        line-height: 30px;
        select {
          float: left;
          width: 75%;
          max-width: 115px;
          margin-right: 5px;
        }
      }
    }

    .dataTables_filter {
      float: none;
      label {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }

    .dataTables_processing {
      left: 5px;
      right: 5px;
    }
  }
}

table {
  &.dataTable {
    thead {
      th, td {
        border-color: $table-border-color;
      }
    }

    &.no-footer {
      border-color: $table-border-color;
    }
  }
}

table.dataTable {
  &.admin-submissions-index {
    tbody {
      tr {
        td:first-child {
          display: none;
        }
      }
    }
    thead {
      tr {
        th:first-child {
          display: none;
        }
      }
    }
  }
}

#bulk-actions {
  display: none;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  background: #fcfcfc;
  padding: 5px 10px 15px;
  margin-bottom: 15px;
}

#row-selection-buttons {
  margin-bottom: 10px;

  .btn:focus {
    background-color: #fff;
    outline: 0;
  }
}