<div id="footer-row" class="row">
  <footer>
    <nav id="courtesy-navigation" class="navbar navbar-default" role="navigation">
      <div class="col-xs-12 col-md-offset-3 col-md-9">
        <ul class="nav navbar-nav">
          <li><%= link_to 'DLT Service Desk', '#', class: 'small', target: 'blank' %></li>
          <li><%= link_to Etdflow::Application.config.partner_name, Etdflow::Application.config.partner_url, class: 'small', target: '_blank' %></li>
          <li><%= link_to "© #{Time.now.year} The Pennsylvania State University", 'http://www.psu.edu/ur/copyright.html', class: 'small', target: '_blank' %></li>
          <li><%= link_to 'Privacy and Legal Statements', 'http://www.psu.edu/ur/legal.html', class: 'small', target: '_blank' %></li>
        </ul>
      </div>
    </nav>
  </footer>
</div>
