<h1>System Error</h1>
<p>
  <%= t(Etdflow::Application.config.application_name) %> tried to process your request but encountered
  an error.  We apologize for the inconvenience and will resolve the error soon.  You might be interested in using the contact form to report this error, or the help page for looking up solutions. 
</p>
