@import '_declarations';
@import 'bootstrap';
@import 'font-awesome';


html {
  position: relative;
  min-height: 100%;
}

header {
  background-color: $dark-blue;


  #shield-and-logo {
    padding: 10px 0px;
    min-height: 60px;

    #psu-shield {
      display: block;
      float: left;
      margin-right: 10px;
    }

    #logo {
      a {
        color: #fff;
        font-size: $font-size-h3;
        line-height: 1;

        &:hover {
          text-decoration: none;
        }
      }
    }

  }

  #account-navigation {
    margin: 0px;
    min-height: 38px;
    border-radius: 0px;

    @media (min-width: 768px) {
      .navbar-text.small {
        margin-top: 10px;
        margin-bottom: 9px;
      }

      .navbar-btn.btn-sm {
        margin-top: 3px;
        margin-bottom: 3px;
      }
    }
  }

  .alert {
    border-radius: 0px;
    padding: 15px 0px;

    .col-xs-12 {
      padding-right: 50px;
    }
  }
}

#body-container {
  margin-bottom: 61px;
}

#content-container {
  padding-bottom: 20px;
}

#main-navigation {
  margin-top: 20px;

  .nav {
    padding-bottom: 20px;
    border-bottom: 1px solid $gray-lighter;
  }
}

@media (min-width: 768px) {
  #main-navigation {
    margin-top: 28px;
  }
}

#contact-information {
  @extend .small;

  @media (min-width: 768px) {
    padding: 10px 15px 20px;
  }
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 20px;

  #courtesy-navigation {
    min-height: 40px;
    margin-bottom: 0px;
    border-bottom: 0px;
    border-radius: 0px;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

table {
  tr {
    &.odd {
      td {
        background-color: $table-bg-accent;
      }
    }

    &.inactive {
      td {
        color: $gray-light;
      }
    }
  }
}

form {
  .actions {
    margin-top: 30px;
  }
}

.committee-member-fields {
  margin-bottom: 5px;

  .input-group {
    margin-bottom: 10px;

    .input-group-addon {
      background-color: $gray-lightest;
    }

    .form-control {
      border-bottom-right-radius: $border-radius-base;
      border-top-right-radius: $border-radius-base;
    }
  }
}

.cocoon-links {
  @extend .clearfix;

  .add_fields {
    margin-bottom: 10px;
    float: right;
  }
}

.file-link {
  @extend .form-control;
  border-color: $gray-lighter;
  color: $link-color;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: $link-hover-color;
    background-color: $gray-lightest;
    text-decoration: none;

  }

  &:before {
    @extend .fa;
    @extend .fa-file-text;
    margin: 0px 5px 0px -5px;
  }
}

.nested-fields {
  position: relative;
  min-height: 34px;
  line-height: 34px;

  .form-group {
    padding-right: 64px;

    &.uploaded-file-link {
      padding-left: 54px;
      padding-right: 0px;

      .file-link {
        @extend .file-link;
      }

      .remove_fields {
        position: absolute;
        top: 0px;
        left: 4px;
        right: auto;
      }
    }
  }

  .remove_fields {
    position: absolute;
    top: 0px;
    right: 4px;
  }
}

textarea {
  max-width: 100%;
}

.radio {
  input {
    box-shadow: none;
  }
}

.form-group.date {
  @include clearfix();
  margin-bottom: 15px;

  .form-control.date {
    float: left;
  }

  > div {
    select:first-child, select:last-child {
      max-width: 80px;

    }

    select:first-child {
      margin-right: 5px;

      + select {
        max-width: 160px;
        margin-right: 5px;
      }
    }
  }
}

#submission_keywords {
  height: 34px;
}

#format-review-files {
  > div {
    margin-bottom: 10px;
  }
}

.review-group {
  border-radius: 6px;
  padding: 15px 10px;
  border-bottom: 1px solid $gray-lightest;

  &.odd {
    background-color: $gray-lightest;
  }
}