/* search button on committee form page*/
.main-committee-search-button {
  float: right;
}

  /* search modal */
  div.modal-footer .btn {
      float: left;
  }

  /* modal search box */
  #ldap_lookup_info_uid {
      width: 55%;
  }

  /*modal search results drop-down list*/
  #search_committee_role_list {
      float: right;
  }



