<div class="row">
  <div class="col-xs-12">
    <div id="bulk-actions">
      <h5>Bulk Actions
        <span class="small"><span class="number-of-selected-rows"></span> submissions selected ( <span class="number-of-visible-selected-rows"></span> visible )</span>
      </h5>

      <div class="actions">
        <%= button_to 'Delete selected', admin_submissions_delete_format_review_incomplete_path,
            method: 'delete',
            params: { submission_ids: '' },
            data: { confirm: "Are you sure you want to permanently delete the selected submission(s)?" },
            class: 'btn btn-danger' %>
        <%= button_to 'Release selected for publication', admin_submissions_release_final_submission_approved_path,
            method: 'patch',
            params: { submission_ids: '' },
            data: { confirm: "Are you sure you want to release the selected submission(s)?" },
            class: 'btn btn-primary' %>
      </div>
    </div>
    <div id="row-selection-buttons">
      <button class="select-all-button btn btn-sm btn-default">Select All</button>
      <button class="deselect-all-button btn btn-sm btn-default">Deselect All</button>
      <button class="select-visible-button btn btn-sm btn-default">Select Visible</button>
      <button class="deselect-visible-button btn btn-sm btn-default">Deselect Visible</button>
    </div>
  </div>
</div>