<div class="nested-fields">
  <%= file_fields.input :filename, as: :file, label: false %>
  <%= link_to_remove_association "&times;".html_safe, file_fields, class: 'btn btn-default btn-sm btn-danger' %>
</div>
