<table id="<%= id %>" class="table table-striped admin-submissions-index datatable" data-ajax-url="<%= ajax_url %>">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Title</th>
      <th>Last Name</th>
      <th>First Name</th>
    </tr>
  </thead>
</table>