<div class="row">
  <div class="col-xs-12">
    <h1>Final Submission is Approved</h1>
  </div>
</div>

<%= render partial: 'bulk_actions', locals: { render_release_for_publication_button: true } %>

<%= render partial: 'table', locals: { id: 'approved-final-submission-submissions-index', ajax_url: admin_submissions_final_submission_approved_path } %>