<div class="row">
  <div class="col-xs-12">
    <h1>Format Review is Submitted</h1>
  </div>
</div>

<%= render 'bulk_actions' %>

<%= render partial: 'table', locals: { id: 'submitted-format-review-submissions-index', ajax_url: admin_submissions_format_review_submitted_path } %>