<div class="row">
  <div class="col-xs-12">
    <h1>Format Review is Incomplete</h1>
  </div>
</div>

<%= render partial: 'bulk_actions', locals: { render_release_for_publication_button: false } %>

<%= render partial: 'table', locals: { id: 'incomplete-format-review-submissions-index', ajax_url: admin_submissions_format_review_incomplete_path } %>