<div class="row">
  <div class="col-xs-12">
    <h1>Released eTDs</h1>
  </div>
</div>

<%= render 'bulk_actions' %>

<%= render partial: 'table', locals: { id: 'released-for-publication-submissions-index', ajax_url: admin_submissions_released_for_publication_path } %>